{% load django_bootstrap5 %}
{% include 'account/menu.html' %}
{% if not request.user.is_authenticated %}
{% if form %}
<form onsubmit="login(event)" method="post" class="form ms-1">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% bootstrap_button button_type="submit" content="Login" %}
</form>
{% endif %}
{% else %}
<div class="ms-1">
	<span style="font-size: 20px;">Logged as {{ request.user }}</span>
	<form onsubmit="logout(event)" method="post" class="form mt-2">
		{% csrf_token %}
		{% bootstrap_button button_type="submit" content="Logout" extra_classes="btn-danger" %}
	</form>
</div>
{% endif %}
