{% extends 'control/base.html' %}
{% load django_bootstrap5 %}
{% block title %}<title>Articles</title>{% endblock title %}
{% block content %}
	{% if articles is not None and articles|length > 0 %}
		<div class="mx-3">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Synopsis</th>
						<th>Writer</th>
						<th>Created</th>
						<th>When</th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr>
							<td>{{ article.title }}</td>
							<td>{{ article.synopsis }}</td>
							<td>{{ article.author }}</td>
							<td>{{ article.created }}</td>
							<td>
								<div class="d-flex flex-row">
									<span class="me-auto">{{ article.when }} ago</span>
									<a class="btn btn-info text-light align-middle h-100 ms-2">Read</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
{% endblock content %}
