{% extends 'control/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
{% if article_list is not None and article_list|length > 0 %}
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Title</th>
				<th>Synopsis</th>
				<th>Writer</th>
				<th>Created</th>
				{% comment %} <th>When</th> {% endcomment %}
			</tr>
		</thead>
		<tbody>
			{% for a in article_list %}
				<tr>
					<td>{{ a.title }}</td>
					<td>{{ a.synopsis }}</td>
					<td>{{ a.author }}</td>
					<td>{{ a.created|date:"M. d, Y, P" }}</td>
					{% comment %} <td>A</td> {% endcomment %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock content %}
