{% extends 'control/base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block title %}<title>{% trans 'Favourites' %}</title>{% endblock title %}
{% block content %}
	{% if favourites is not None and favourites|length > 0 %}
		<div class="mx-3 my-4">
			<ul>
				{% for favourite in favourites %}
					<li><a href="{% url 'detail' favourite.article.pk %}">{{ favourite.article }}</a> ({{ favourite.article.author }})</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<div class="mx-3 my-2 py-2 px-3">
			<span class="fs-5 fw-bold">{% trans 'There are no favourites to show.' %}</span>
		</div>
	{% endif %}
{% endblock content %}
