{% extends 'control/base.html' %}
{% load django_bootstrap5 %}
{% block title %}<title>Favourites</title>{% endblock title %}
{% block content %}
	{% if favourites is not None and favourites|length > 0 %}
		<div class="my-2 py-2">
			<ul>
				{% for favourite in favourites %}
					<li class="fs-5"><a href="{% url 'detail' favourite.article.pk %}" class="text-decoration-none">{{ favourite.article }}</a> ({{ favourite.article.author }})</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<div class="px-3 py-2">
			<span class="fs-5 fw-bold">There are no favourites to show.</span>
		</div>
	{% endif %}
{% endblock content %}
