{% extends 'ex07/base.html' %}
{% block title %}
<title>Ex07: ORM - Updating a data - update</title>
{% endblock %}
{% block content %}
<div id="content">
	<form action="" method="post">
		{% csrf_token %}
		<label for="episode_nb">Episode number</label>
		<select name="episode_nb" id="episode_nb" required>
			{% for r in results %}
			<option value="{{ r.episode_nb }}">{{ r.title }}</option>
			{% endfor %}
		</select><br>
		<label for="opening_crawl">Opening crawl</label><br>
		<textarea name="opening_crawl" id="opening_crawl" required></textarea><br>
		<input type="submit" name="update" value="Update film">
	</form>
</div>
{% endblock %}
