{% extends 'base.html' %}
{% block title %}
<title>Ex01: Display process of a static page.</title>
{% endblock %}
{% block content %}
<div id="content" style="margin: 10px 0px; padding: 0px 0px 0px 5px">
	<h2>Browser request URL</h2>
	<code style="font-size: 15px;">http://localhost:8000/ex01/display</code>
	<h2><code style="font-size: 22px;">urls.py</code> file</h2>
	<pre style="background-color: #ddd; padding: 15px"># ...
from django.urls import re_path
from . import views

# ...
urlpatterns = [
    # ...
    re_path(r'^display/*', views.display),
    # ...
]
# ...</pre>
	<h2><code style="font-size: 22px;">views.py</code> file</h2>
	<pre style="background-color: #ddd; padding: 15px"># ...
from django.shortcuts import render

# ...
# Create your views here.
# ...

def display(request):
    return render(request, 'display.html')

# ...</pre>
	<p>Important note: all this files are inside <code style="font-size: 15px;">ex01</code> app, so we have to setup in
		the <code style="font-size: 15px;">settings.py</code> file located at the root of the project.</p>
	<h2><code style="font-size: 22px;">settings.py</code> file (located at the root of the project)</h2>
	<pre style="background-color: #ddd; padding: 15px">#...
INSTALLED_APPS = [
    #...
    'ex01.apps.Ex01Config',
    #...
]
#...</pre>
	<p>Then it will try to find the template and if it exists it will render the html in the brower and make it visible
		to the user.</p>
</div>
{% endblock %}
