{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Ex01: Template engine.</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'style2.css' %}">
{% endblock %}
{% block content %}
<div id="content" style="margin: 10px 0px; padding: 0px 0px 0px 5px">
	<h2>Views</h2>
	<p>Django views are Python functions that take http requests and return http response, like HTML documents.</p>
	<p>A web page that uses Django is full of views with different tasks and missions.</p>
	<h3>block Template Tag</h3>
	<h4>Definition and Usage</h4>
	<p>The <code style="font-size: 15px;">block</code> tag has two functions:</p>
	<ol>
		<li>It is a placeholder for content.</li>
		<li>It is content that will replace the placeholder.</li>
	</ol>
	<p>In <i>master</i> templates the <code style="font-size: 15px;">block</code> tag is a placeholder that will be
		replaced by a block in a child template with the same name.</p>
	<h4>Syntax</h4>
	<pre style="background-color: #ddd; padding: 15px">&#123;% block <i>name</i> %&#125;
  ...
&#123;% endblock %&#125;</pre>
	<h4>Parameters</h4>
	<table style="width: 100%; text-align: left; border: 1px solid; border-collapse: collapse;">
		<thead>
			<tr style="border: 1px solid; border-collapse: collapse;">
				<th style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Value</th>
				<th style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Description</th>
			</tr>
		</thead>
		<tbody>
			<tr style="border: 1px solid;">
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px"><i>name</i></td>
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Specifies that name of the
					block.</td>
			</tr>
		</tbody>
	</table>
	<h3>for Template Tag</h3>
	<h4>Definition and Usage</h4>
	<p>The <code style="font-size: 15px;">for</code> tag allows you to iterate over items in an object.</p>
	<h4>Syntax</h4>
	<pre style="background-color: #ddd; padding: 15px">&#123;% for <i>item</i> in <i>object</i> %&#125;
...
&#123;% endfor %&#125;</pre>
	<h4>Parameters</h4>
	<table style="width: 100%; text-align: left; border: 1px solid; border-collapse: collapse;">
		<thead>
			<tr style="border: 1px solid; border-collapse: collapse;">
				<th style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Value</th>
				<th style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Description</th>
			</tr>
		</thead>
		<tbody>
			<tr style="border: 1px solid;">
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px"><i>item</i></td>
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Required. Variable name(s)
					that represents the item(s) of the iterable object.</td>
			</tr>
			<tr style="border: 1px solid;">
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px"><i>object</i></td>
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Required. An iterable object.</td>
			</tr>
		</tbody>
	</table>
	<h4>Built-in <i>for</i> Variables</h4>
	<p>There are some built-in variables you can use inside for loops:</p>
	<table style="width: 100%; text-align: left; border: 1px solid; border-collapse: collapse;">
		<thead>
			<tr style="border: 1px solid; border-collapse: collapse;">
				<th style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Variable</th>
				<th style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Description</th>
			</tr>
		</thead>
		<tbody>
			<tr style="border: 1px solid;">
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">forloop.counter</td>
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">The current iteration, starting at 1.</td>
			</tr>
			<tr style="border: 1px solid;">
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">forloop.counter0</td>
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">The current iteration, starting at 0.</td>
			</tr>
			<tr style="border: 1px solid;">
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">forloop.first</td>
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Check if this iteration is the first iteration.</td>
			</tr>
			<tr style="border: 1px solid;">
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">forloop.last</td>
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Check if this iteration is the last iteration.</td>
			</tr>
			<tr style="border: 1px solid;">
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">forloop.parentloop</td>
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">Refers to the parent loop.</td>
			</tr>
			<tr style="border: 1px solid;">
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">forloop.revcounter</td>
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">The current iteration, counting backwords, ending at 1.</td>
			</tr>
			<tr style="border: 1px solid;">
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">forloop.revcounter0</td>
				<td style="border: 1px solid; border-collapse: collapse; padding: 5px 10px">The current iteration, counting backwords, ending at 0.</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
